// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


@font-face {
    font-family: 'cooper_hewittbold';
    src: url('../webfonts/cooperhewitt-bold.woff2') format('woff2'),
         url('../webfonts/cooperhewitt-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittbook';
    src: url('../webfonts/cooperhewitt-book.woff2') format('woff2'),
         url('../webfonts/cooperhewitt-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittheavy';
    src: url('../webfonts/cooperhewitt-heavy.woff2') format('woff2'),
         url('../webfonts/cooperhewitt-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittlight';
    src: url('../webfonts/cooperhewitt-light.woff2') format('woff2'),
         url('cooperhewitt-light.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittmedium';
    src: url('../webfonts/cooperhewitt-medium.woff2') format('woff2'),
         url('../webfonts/cooperhewitt-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('../webfonts/cooperhewitt-semibold.woff2') format('woff2'),
         url('../webfonts/cooperhewitt-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittthin';
    src: url('../webfonts/cooperhewitt-thin.woff2') format('woff2'),
         url('../webfonts/cooperhewitt-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittbold';
    src: url('../webfonts/cooperhewitt-bold.woff2') format('woff2'),
         url('../webfonts/cooperhewitt-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
