/**
 * Basic typography style for copy text
 */
body {
  color: $jaguar-color;
  font: 18px $base-font-book;

}


a {
  text-decoration: none;
  color: $website-brand-color;
}

p {
  font-size: 18px;
  line-height: 36px;
  color: $black-color;
}

.text-muted {
  color: $pale-slate-color  !important;
}

.overflow_hidden {
  overflow: hidden;
}


h1 {
  font-size: 71px;
  line-height: 1.3;
  font-weight: 300;
  margin-bottom: 30px;

  // Responsive Css Here

  @include media('xl') {
    font-size: 55px;
  }

  @include media('lg') {
    font-size: 39px;
  }

}

h2 {
  font-size: 38px;
  line-height: 1.5;
  font-family: $base-font-bold;

  @include media('sm') {
    font-size: 30px;
  }

}

h3 {
  font-size: 21px;
  line-height: 1.4;
  font-weight: 300;
  color: $jaguar-color;

  // @include media('sm') {
  //   font-size: 18px;
  // }
}

h4 {
  font-size: 22px;
  font-family: $base-font-bold;
  color: $black-color;
}

h5 {
  font-size: 18px;
  font-family: $base-font-semi-bold;
  color: $black-color;

}

h6 {
  color: $jaguar-color;
  font-size: 20px;
  line-height: 30px;
  font-family: $base-font-bold;

}