/node_modules
/public/hot
/public/storage
/public/image/*
/public/image/
/storage/*.key
/storage/image
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
