.remove-button{
    padding-top: 5px;
    padding-bottom: 5px;    
}

.select-box-2 span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

span.select2.select2-container.select2-container--default {
    background: #fff !important;
    border: 1px solid #E1E1E1 !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    padding: .6rem 3rem !important;
    width: 100% !important;
    height: 58px !important;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: none !important;
}