/* Employee responsive */


.project_images img {
    object-fit: contain;
    height: 230px;
}
.employee_dashboard_btn i{
    display: none;
}
.tools-section .item .card .card-body:hover h5 {
    color: #fff;
}
.tools-section .item .card .card-body:hover .btn.btn-default {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
}
.tools-section .slider_image .btn.btn-default:hover {
    background-color: transparent !important;
    color: #fff !important;
}

p.job_description_content {
    min-height: 60px;
}
.star_rating > div {
    width: fit-content;
    display: inline-block;
}
a.company_profile {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    margin-left: 9px;
    font-family: "cooper_hewittbold";
    float: right;
    margin-top: 5px;
}
.orange_bg {
    --fg: rgb(255, 136, 0)!important;
    --bg: #ff88001f!important;
}
.green_bg{
    --fg: #00b53b!important;
    --bg: #00b53b1f!important;
}

.red_bg{
    --fg: #e51900!important;
    --bg: #e519001f!important;
}


@media only screen and (max-width: 767px){
    
    ul.list-group.flex-row.align-items-center.justify-content-end.employee_dashboard_btn {
        order: 2;
        position: relative;
        top: -20px;
    }
    section.experience-section ul.list-group li.list-group-item h5 .text-secondary {
        margin-left: 0!important;
    }
    section.video-section video {
        height: 100%;
    }
    section.education-section ul.list-group li article {
        width: -webkit-fill-available;
    }
    .skills-section .list-group .list-group-item {
        padding: 2px 15px;
    }
    .profile-section .profile-summary .bio-list .bio-list-wrapper p {
        line-height: 1;
        padding-bottom: 15px;
    }
    .profile-section .profile-summary .bio-list .bio-list-wrapper h5 {
        margin-bottom: 5px;
    }
    .profile-main-wrapper {
        padding: 50px 0 50px;
    }
    .profile-section {
        padding: 0px 0 60px;
    }
    .video-section {
        padding: 0 0 40px;
    }
    .education-section {
        padding: 35px 0 20px;
    }
    section.experience-section ul li.list-group-item:last-child {
        padding-bottom: 0!important;
    }
    .profile-section .profile-wrapper {
        padding: 20px 20px 0;
    }
    .profile_ul_list {
        display: inline-block;
    }
    .post_header {
        margin: 0!important;
        display:block!important;
    }
    .post_header a {
        width: 100%;
        margin-bottom: 20px;
    }
    li.profile_name, li.custom-dropdown-menu {
        display: inline-flex!important;
    }
    .project_images img {
        object-fit: contain;
        height: 180px;
    }
    .project_images {
        width: 33%;
    }
    span.select2.select2-container.select2-container--default {
        min-height: 58px !important;
        height: auto!important;
    }
    .main-bg .form-inner-wrapper .btn-form-wrapper {
        margin-top: 20px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 35px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 15px;
        right: 15px;
    }
    body.body.iti-mobile.modal-open {
        padding-right: 0!important;
    }
    .profile-main-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    section.banner-section.inner-banner.main-banner-section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer .footer-top {
        padding: 50px 10px 20px;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .employee_dashboard_btn i{
        display: block;
    }
    .employee_dashboard_btn span{
        display: none;
    }
    .inner-header .logo-image {
        transform: translateX(-189%) translateY(-50%);
    }
    section.education-section ul.list-group li article {
        width: -webkit-fill-available;
    }
    .project_images img {
        object-fit: contain;
        height: 200px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 35px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 15px;
        right: 15px;
    }
    body.body.iti-mobile.modal-open {
        padding-right: 0!important;
    }
    .profile-main-wrapper {
        background-color: #F4F4F4;
        padding: 60px 40px 100px;
    }
    section.banner-section.inner-banner.main-banner-section {
        padding-left: 40px;
        padding-right: 40px;
    }
    button.btn.btn-lg.search-btn {
        padding: 18px;
    }
    .footer .footer-top {
        padding: 70px 40px 50px;
    }
    .employee_dashboard_btn a {
        font-size: 30px;
    }
    .employee_dashboard_btn {
        transform: translateX(32vw);
    }
}


@media only screen and (min-width: 992px) and (max-width: 1024px){
    .employee_dashboard_btn {
        transform: translateX(42vw);
    }
    section.education-section ul.list-group li article {
        width: -webkit-fill-available;
    }
    .main-bg .form-inner-wrapper .form-inner {
        max-width: 760px;
    }
    .inner-header .logo-image {
        transform: translateX(-185%) translateY(-50%);
    }
    .main-bg {
        padding: 150px 0 80px;
    }
    .footer .footer-bottom {
        padding: 15px 0;
    }
    .project_images img {
        object-fit: contain;
        height: 200px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 35px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 15px;
        right: 15px;
    }
    body.body.iti-mobile.modal-open {
        padding-right: 0!important;
    }
    .profile-main-wrapper {
        background-color: #F4F4F4;
        padding: 60px 40px 100px;
    }
    section.banner-section.inner-banner.main-banner-section {
        padding-left: 40px;
        padding-right: 40px;
    }
    button.btn.btn-lg.search-btn {
        padding: 18px;
    }
    .footer .footer-top {
        padding: 70px 40px 50px;
    }
}



/* end employee responsive */


/* start employer responsive */
@media only screen and (max-width: 767px){
    body.body.modal-open {
        padding-right: 0!important;
    } 
    .top_employer_btn .spriteicon i.navbar-toggler-icon {
        background-position: -15px -142px;
    }
    .top_employer_btn a.nav-link.link-secondary{
        float: right;
        position: relative;
        top: 10px;
    }
    .top_employer_btn {
        width: 100%;
    }
    .dashboard-main .dashboard-section .recruiter-section {
        margin-top: 50px;
    }
    .dashboard-main .dashboard-section .recruiter-section .card-body .recruiter-article p {
        padding: 0px 0 10px;
        font-size: 16px;
    }
    .footer .footer-bottom {
        padding: 25px 0;
    }
    .dashboard-main .dashboard-section {
        padding: 200px 10px 0;
    }
    .employer_custom_btn li.custom-dropdown-menu {
        margin-right: 0;
    }
    /* .employer_custom_btn .notification_btn{
        margin-right: 25px!important;
    } */
    .job-profile-info .btn.btn-default {
        line-height: 2;
    }
    .step-progress .step-slider .step-slider-item:after {
        right: -25px!important;
    }    
    .step-progress .step-slider {
        left: -10px;
        top: 10px;
    }
    span.select2.select2-container.select2-container--default {
        min-height: 58px !important;
        height: auto!important;
    }
    div#applicants_table_wrapper .col-sm-12 {
        overflow-x: auto;
    }
    table#applicants_table th, table#applicants_table td {
        width: fit-content!important;
    }
    
    table#applicants_table {
        width: max-content;
    }
    table#applicants_table thead, table#applicants_table tbody {
        display: contents!important;
        width: 100%;
    }
    .employer_padding_card form#jquery-post-job-form-validation {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .employer_profile_detail .form-wrapper.card {
        padding: 90px 50px 10px;
    }
    body.body.modal-open {
        padding-right: 0!important;
    } 
    .top_employer_btn {
        margin-bottom: 11px;
    }
    span.select2.select2-container.select2-container--default {
        min-height: 58px !important;
        height: auto!important;
    }
    div#applicants_table_wrapper .col-sm-12 {
        overflow-x: auto;
    }
    table#applicants_table th, table#applicants_table td {
        width: fit-content!important;
    }
    table#applicants_table thead, table#applicants_table tbody {
        display: contents!important;
        width: 100%;
    }
    table#applicants_table {
        width: max-content;
    }
    .employer_padding_card .form-wrapper.card {
        padding: 90px 50px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1024px){
    .employer_profile_detail .form-wrapper.card {
        padding: 90px 50px 10px;
    }
    body.body.modal-open {
        padding-right: 0!important;
    } 
    .step-progress .step-slider .step-slider-item:after {
        right: -10px!important;
    }
    span.select2.select2-container.select2-container--default {
        min-height: 58px !important;
        height: auto!important;
    }
    div#applicants_table_wrapper .col-sm-12 {
        overflow-x: auto;
    }
    table#applicants_table th, table#applicants_table td {
        width: fit-content!important;
    }
    table#applicants_table thead, table#applicants_table tbody {
        display: contents!important;
        width: 100%;
    }
    table#applicants_table {
        width: max-content;
    }
    .employer_padding_card .form-wrapper.card {
        padding: 90px 50px;
    }
}

/* end employer responsive */

/* main screen */

@media only screen and (max-width: 767px){
    section.banner-section.main-banner-section, .featured-vacancies-section, .best-company {
        padding-left: 10px;
        padding-right: 10px;
    } 
    main.privecy_policy_page {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    section.banner-section.main-banner-section, .featured-vacancies-section{
        padding-left: 40px;
        padding-right: 40px;
    } 
    .header .logo-image {
        transform: translateX(-190%) translateY(-50%);
    }
    .best-company .best-company-wrapper .best-company-left {
        width: 100%;
    }
    main.privecy_policy_page {
        padding-left: 40px;
        padding-right: 40px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1024px){
    section.banner-section.main-banner-section, .featured-vacancies-section {
        padding-left: 40px;
        padding-right: 40px;
    } 
    .header .logo-image {
        transform: translateX(-195%) translateY(-50%);
    }
    main.privecy_policy_page {
        padding-left: 40px;
        padding-right: 40px;
    }
}


/* end main screen */


/* Login page */



@media only screen and (max-width: 767px){
    .header-wrapper.login-header .banner-form .mb-5 {
        margin-bottom: 30px!important;
    } 
    .login-page {
        padding: 50px 0;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .login-page {
        padding: 200px 40px 60px;
    }
    .header-wrapper.login-header .logo-image {
        transform: translateX(-140%) translateY(0%);
    }
    .log_in_logo {
        margin-bottom: 20px!important;
    }
    .log_in_form .banner-form .col-lg-4 {
        width: 33%;
        margin-bottom: 15px!important;
    }
    .log_in_col{
        width: 100%;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1024px){
    .login-page {
        padding: 160px 40px 100px;
    }
    .header-wrapper.login-header .logo-image {
        transform: translateX(0%) translateY(0%);
    }
}
/* end login page */



/* about us page */
@media only screen and (max-width: 767px){
    main.employer-main-wrapper.section-space.about_page_section {
        padding: 50px 10px;
    }
    .about_page_section.employer-main-wrapper .video-one-img {
        width: 100%;
        display: block;
        min-height: auto;
        height: 100%;
        border-radius: 0;
    }
    section.emp-content-section.section-space img {
        height: auto;
    }
    section.emp-content-section.section-space {
        order: 1;
    }
    .video_div.sec_video_content {
        order: 2;
    }
    .video-wrapper .video-btn {
        width: 70px;
        height: 70px;
    }
    .video-wrapper .video-btn .arrow-right {
        margin: 4px 0 0 5px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 14px solid #fff;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    main.employer-main-wrapper.section-space.about_page_section {
        padding: 85px 40px 50px;
    }
    .video_div {
        width: 100%;
    }
    .employer-main-wrapper .video-one-img {
        width: 100%;
        display: block;
        min-height: auto;
        height: 380px;
        object-fit: cover;
        object-position: center;
    }
    .video_div.sec_video_img {
        order: 1;
    }
    .sec_video_content{
        order: 2;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1024px){
    main.employer-main-wrapper.section-space.about_page_section {
        padding: 85px 40px 50px;
    }
    .video_div {
        width: 100%;
    }
    .about_page_section.employer-main-wrapper .video-one-img {
        width: 100%;
        display: block;
        min-height: auto;
        height: 500px;
        object-fit: cover;
        object-position: center;
    }
    .video_div.sec_video_img {
        order: 1;
    }
    .sec_video_content{
        order: 2;
    }
}

/* end about us page */




/* admin page */

span.select2-selection.select2-selection--multiple {
    height: auto;
}


@media only screen and (max-width: 767px){
    div#employee_table_length {
        margin-bottom: 10px;
    }
    .for_admin_btns a {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
        display: inline-block;
        margin-bottom: 10px;
    }
    
    .for_admin_btns {
        display: flex;
        width: 100%;
    }
    div#employee_table_wrapper thead, div#employee_table_wrapper tbody {
        display: contents!important;
        width: 100%;
    }
    div#employee_table_wrapper .col-sm-12 {
        overflow-x: auto;
    }
    div#employee_table_wrapper th, div#employee_table_wrapper td {
        width: fit-content!important;
        white-space: nowrap;
    }
    div#employee_table_paginate ul.pagination {
        margin-top: 15px;
    }
    .add_vacancy_table .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 25px!important;
    }
    .add_vacancy_table .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 0px;
        right: 15px;
    }
    .add_vacancy_table span.select2.select2-container.select2-container--default {
        width: 100%!important;
    }
    .add_vacancy_table .card-body {
        padding: 45px 20px!important;
    }
    .edit_profile_section img {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .add_vacancy_table .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 25px!important;
    }
    .add_vacancy_table .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 0px;
        right: 15px;
    }
    div#employee_table_wrapper thead, div#employee_table_wrapper tbody {
        display: contents!important;
        width: 100%;
    }
    div#employee_table_wrapper .col-sm-12 {
        overflow-x: auto;
    }
    div#employee_table_wrapper th, div#employee_table_wrapper td {
        width: fit-content!important;
        white-space: nowrap;
    }
    .edit_profile_section img {
        width: 180px!important;
        height: 180px!important;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1024px){
    .add_vacancy_table .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 25px!important;
    }
    .add_vacancy_table .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 0px;
        right: 15px;
    }
    div#employee_table_wrapper thead, div#employee_table_wrapper tbody {
        display: contents!important;
        width: 100%;
    }
    div#employee_table_wrapper .col-sm-12 {
        overflow-x: auto;
    }
    div#employee_table_wrapper th, div#employee_table_wrapper td {
        width: fit-content!important;
        white-space: nowrap;
    }
    .edit_profile_section img {
        width: 180px!important;
        height: 180px!important;
    }
}


/* end admin page */



/* Companies List */
button.accordion-button.company_list_button {
    margin-bottom: 20px!important;
}


@media only screen and (max-width: 767px){
    .company_list_main .company-listing-wrapper .company-listing-aside .accordion-item .list-group-item .form-check-input {
        margin-right: 3px;
    }
    
    .company_list_main section.Company-listing-section table th, section.Company-listing-section table td {
        width: fit-content!important;
        display: table-cell!important;
    }
    .company_list_main .company-listing-wrapper .Company-listing-section .table tr {
        display: table-row!important;
    }
    .company_list_main .company-listing-wrapper .Company-listing-section .table thead, .company-listing-wrapper .Company-listing-section .table tbody {
        display: contents!important;
    }
    .company_list_main .company_rating_readonly {
        display: flex;
        width: max-content;
    }
    .company_list_main .company-listing-wrapper .Company-listing-section .table th, .company_list_main .company-listing-wrapper .Company-listing-section .table td {
        font-size: 14px;
        white-space: nowrap;
    }
    .company_list_main table.table.align-middle td figure {
        width: 50px!important;
        height: 50px!important;
        object-fit: cover;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .company_list_main .company-listing-wrapper .Company-listing-section .table-wrapper {
        width: 100%!important;
    }
    .company-listing-wrapper .Company-listing-section .table {
        width: max-content;
        border-collapse: collapse;
    }
    .company_list_main .company-listing-wrapper .company-listing-aside .accordion-item .list-group-item .form-check-input {
        margin-right: 3px;
    }
    .company_list_main .company-listing-wrapper .company-listing-aside .accordion-item .list-group-item .form-check-label {
        font-size: 13px;
    }
    .company_list_main .company-listing-wrapper .card .card-body {
        padding: 48px 25px;
    }
    .company_list_side_table {
        width: 70%;
    }
    .company_list_side_bar {
        width: 30%;
    }    
    
}


@media only screen and (min-width: 992px) and (max-width: 1024px){
    .company_list_main .company-listing-wrapper .Company-listing-section .table-wrapper {
        width: 100%!important;
    }
    .company_list_main .company-listing-wrapper .company-listing-aside .accordion-item .list-group-item .form-check-input {
        margin-right: 3px;
    }
    .company_list_main .company-listing-wrapper .company-listing-aside .accordion-item .list-group-item .form-check-label {
        font-size: 13px;
    }
    .company_list_main .company-listing-wrapper .card .card-body {
        padding: 48px 25px;
    }
    .company_list_side_table {
        width: 79%;
    }
    .company_list_side_bar {
        width: 21%;
    }    
    .company-listing-wrapper .Company-listing-section .table {
        width: max-content;
        border-collapse: collapse;
    }
}

/* end listing page */